extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    div #{test}
    label(for='ssoToken') SSO Token:
    textarea#ssoToken
  div
    button#getToken(type='button') Get SSO Token
    button#forceConsent(type='button') Force Consent

  div
    label(for='graphToken') Graph Token:
    textarea#graphToken
    button#getGraphToken(type='button') Get Graph Token

  div
    label(for='graphApiCall') Graph API Call:
    textarea#graphApiCall
    button#makeGraphApiCall(type='button') Make Graph API Call