doctype html
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://appsforoffice.microsoft.com/lib/1/hosted/Office.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/javascripts/app.js')
  body
    block content
