doctype html
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://appsforoffice.microsoft.com/lib/1/hosted/Office.js')
    script(src='/javascripts/adal.js')
    script(src='/javascripts/main.js')
  body
    block content
